@mixin registration-Property() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin fields() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registration {
  @include registration-Property();
  width: $login-main-componentWidth;
  height: $login-main-height;
  background-color: $registration-background-color;
}
.registration-page {
  @include registration-Property();
  height: $registration-height;
  width: $registration-width;
  background-color: white;
  border-radius: 11px;
}
.registration-fields {
  @include fields();
  width: $registration-fields-width;
  height: 10rem;
  border: 1px solid black;
}
.registration-image {
  @include fields();
  width: $img-width;
}

.radio-button-registration {
  @include registration-Property();
  font-family: $font-family;
  justify-content: flex-start;
  width: $radio-btn-area-width;
  color: $radio-btn-color;
  align-items: flex-start;
  margin-top: 2rem;
  .radio-button {
    display: flex;
    gap: $gap-btn;
  }
}
.input-fields {
  height: 5rem;
  width: 2rem;
  position: absolute;
  display: flex;
  flex-direction: row;
}
