@mixin common-property() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@mixin font-property() {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: #fffafa;
}
.header-admin {
  position: relative;
  height: 3.5rem;
  width: 100%;
  background-color: #282828;
  background-color: #447adf;
  @include common-property();
  .link-hr {
    @include font-property();
    text-decoration: none;
    color: white;
    padding: 2rem;
  }

  .user-profile {
    @include common-property();
    @include font-property();
    width: 15%;
  }
}
.add-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf1f9;
  height: 42rem;
  width: 100%;
  gap: 1rem;

  .add-New-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 5rem;
    width: 30%;
    background-color: white;
    border-radius: 12px;
    padding: 0.5rem;
  }
  .registration-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32rem;
    width: 30%;
    background-color: white;
    border-radius: 12px;
  }
  h3 {
    color: #66a1f9;
  }
}
