@mixin common-property() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@mixin font-property() {
  font-size: larger;
  font-family: $font-family;
  color: $header-admin-color;
}
.header-admin {
  position: sticky;
  height: $header-height;
  width: 100%;
  background-color: $header-admin-background-color;
  @include common-property();
  .link-hr {
    @include font-property();
    text-decoration: none;
    color: white;
    padding: 2rem;
  }

  .user-profile {
    @include common-property();
    @include font-property();
    width: 30%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}
.add-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf1f9;
  height: 42rem;
  width: 100%;
  gap: 1rem;

  .add-New-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 5rem;
    width: 30%;
    background-color: white;
    border-radius: 12px;
    padding: 0.5rem;
  }
  .registration-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32rem;
    width: 30%;
    background-color: white;
    border-radius: 12px;
  }
  h3 {
    color: $heading-color;
  }
}

.admin {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #ebf1f9;
}
.footer-f {
  @include common-property();
  justify-content: center;
  height: 2rem;
  width: 100%;
  border-top: 1px solid #398fff;
  color: #a3c8f9;
}
