/*varable for Login page */
$login-main-componentWidth: 100%;
$login-main-height: 38rem;
$login-componentWidth: 75%;
$login-height: 30rem;
$login-child: 50%;
$header-admin-background-color: #447adf;
$font-family: Arial, Helvetica, sans-serif;
$header-admin-color: #fffafa;
$registration-background-color: rgb(255, 251, 244);
$radio-btn-color: rgb(137, 136, 136);
$radio-btn-area-width: 16rem;
$gap-btn: 1rem;
$registration-height: 35rem;
$registration-width: 79%;
$registration-fields-width: 75%;
$img-width: 50%;
$header-height: 3.5rem;
$heading-color: #66a1f9;
$bg-employee-list: #ebf1f9;
$emp-table-width: 95%;
$table-radius: 12px;
$welcome: 6rem;
