@import "./variable";
@import "./login-page/login";
@import "./common-component/registration-page/registration";
@import "./admin/admin";
@import "./user-profile/userProfile";
@import "./common-component/employeeList/employee";
